.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-container {
    background: #000000bd;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    content: '';
    z-index: 9;
    justify-content: center;
    align-items: center;
}
div#barcodes-container {
  display: block; /* Use block instead of inline-block to ensure full-width alignment of elements */
  width: 472px;
}

.label-card {
  width: 172px; /* Sticker width */
  height: 132px; /* Sticker height */
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin: 5.5px 1px; /* Adjust as needed to fit two stickers per row */
}

.label-content {
  width: 100%;
  height: 100%;
}

.label-description {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'DIN', sans-serif;
}

.label-barcode {
  height: 45.354px; /* Adjust as needed */
  width: 139.843px; /* Adjust as needed */
}

@page  {
  margin: 0;
  size: letter; /*or width then height 150mm 50mm*/
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}